@import "tailwindcss";

@font-face {
  font-family: "8-Bit Devanagari by colonelhathii";
  src: url("/fonts/devanagari.woff2") format("woff2");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-hover-background: var(--hover-background);
  --color-card-background: var(--card-background);
  --color-hover-foreground: var(--hover-foreground);
  --color-active-background: var(--active-background);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --font-instrument-sans: var(--instrument-sans);
  --font-inter: var(--inter);
  --font-devanagari: "8-Bit Devanagari by colonelhathii", sans-serif;
}

@layer base {
  :root .dark {
    --background: #1d2021; /* bg0 */
    --border: #3c3836; /* bg1 */
    --foreground: #ebdbb2; /* fg */
    --hover-background: #fabd2f; /* yellow (bright) */
    --active-background: #d79921; /* yellow */
    --card-background: #1d2021; /* bg0_h */
    --hover-foreground: #000000;
    --accent: #fb4934; /* red */
  }

  .light {
    --background: #f9f5d7; /* fg0 */
    --foreground: #3c3836; /* bg1 */
    --border: #d5c4a1; /* bg2 */
    --card-background: #f9f5d7; /* bg0_h */
    --hover-background: #282828; /* yellow (bright) */
    --active-background: #d79921; /* yellow */
    --hover-foreground: #ffffff;
    --accent: #cc241d; /* red */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
